* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: Arial;
}
body {
  background-color: rgb(232, 220, 197);
  min-height: 100vh;
}


.navbar {
  display: flex;
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.blog h1 {
  font-size: 40px;
  padding: 3rem;
  color: rgb(43, 43, 43)
}

.blog p {
  color: rgb(69, 69, 69);
  padding: 1rem 3rem;
  font-size: 25px;
}

.blog h3 {
  color: rgb(69, 69, 69);
  padding: 1rem 5rem;
  font-size: 25px;
}

.blog-links a {
  text-decoration: none;
  color: rgb(69, 69, 69);
  transition: 0.3s;
  font-size: 25px;
}

.blog-links a:hover {
  color: rgb(170, 170, 170)

}

h2 {
  padding: 1rem;
  font-size: 25px;
}
